<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remind</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <h1 class="d-flex justify-content-center mt-4 mb-3">Welcome, <%= user.userName %></h1>
    <form action="/all/reminders" method="POST" class="d-flex justify-content-center mt-3">
        <input type="text" name="name">
        <input type="date" name="date" id="date" min="1900-01-01" max="2121-01-01">
        <button type="submit">Submit</button>
    </form>
    <a href="/logout" class="d-flex justify-content-center">Logout</a>
    <h2 class="d-flex justify-content-center mt-3">Reminders</h2>

    <% if(reminders) { %>
        <% reminders.forEach(reminderValue => { %>
            <div class="container list-group">
                <div class="reminder-value" data-id='<%=reminderValue._id%>'><div class="list-group-item"><%= reminderValue.name %> <%= reminderValue.date.toLocaleDateString("en-US", {timeZone:"GMT"}) %></div>
                    <a class="reminder-delete <%= reminderValue._id %>">Delete</a>
                    <a class="reminder-edit <%= reminderValue._id %>">Edit</a>
                </div>
            </div>
        <% }) %> 
    <% } %>

    <div id="message"></div>

    <script src="/main.js"></script>
</body>
</html>